   
.ui-datepicker {

	font-size:09px;
z-index: 9999 !important;
   }
   .ui-widget-header .ui-state-default {
    

    color: rgb(95, 96, 85);
}
.ui-datepicker th {
padding: .5em .1em;
}
.ui-datepicker-calendar th{
	font-size: 0.9em;
}
   
   .ui-widget td
   {
   font-size:09px;
   }
   .ui-widget-header {
    background: none repeat scroll 0% 0% rgb(62, 95, 155);}
   
   thead th {
   background: none repeat scroll 0% 0% rgb(98, 144, 210);
   
   }
.ui-widget-header .ui-state-default {
	  background: none repeat scroll 0% 0% rgb(214, 222, 239);

	}
  